td {
  padding-left: 0.3em;
  padding-right: 0.3em
}

.App {
  /* text-align: center; */
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: .2em;
  padding: .2em;
  background-color: black;
  color: white;
}

.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; padding-right: 1em }

.label { color: #ffa }
.numeric { text-align: right; font-family: "Lucida Console", Monaco, monospace }

.grouping {
  border-style:none;
  border-top-style: solid
}

.colSpan3 {
  column-span: all;
  background-color: red;
  background-color: green;
}

.borderRight {
  border-right: 1px solid #333
}